
@{
    ViewBag.Title = "Button";
}

@Html.().Button("button").CssClass("e-link").Content("Go to Google").Render()

<style>

    button {
        margin: 25px 5px 20px 20px;
    }
</style>


<script>

document.getElementById('button').onclick = (): void => {
  window.open("https://analytics.google.com/analytics/web/?hl=en&pli=1#/p286465082/reports/reportinghub%22);
};

</script>

<h2>Button</h2>

